@import url('https://fonts.googleapis.com/css2?family=Luxurious+Script&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
}

.logo-text {
  font-family: 'Luxurious Script', cursive;
  font-weight: 600;
  font-size: 3rem; /* Adjust the size as needed */
  color: white; /* Adjust the color as needed */
}

.expanded-nav-link {
  color: white;
  font-size: 1rem; /* Adjust the size as needed */
  font-weight: 400; /* Adjust the weight as needed */
}


/* Global styles or component-specific styles */
@media (max-width: 1023px) {
  .our-process {
    display: none; /* Hide on mobile and tablet */
  }
}

@media (min-width: 1024px) {
  .our-process {
    display: block; /* Show on desktop */
  }
}
